<!DOCTYPE HTML>
<html>
	<head>
		<title>GMBA Connect</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!--[if lte IE 8]><link rel="stylesheet" href="/static/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/static/assets/css/ie9.css" /><![endif]-->
		<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.6.4/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" integrity="sha512-1xoFisiGdy9nvho8EgXuXvnpR5GAMSjFwp40gSRE3NwdUdIMIKuPa7bqoUhLD0O/5tPNhteAsE5XyyMi5reQVA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://unpkg.com/blaze-css@1.8.5/dist/blaze.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<link rel="stylesheet" href="/static/gmba-index.css">
		<link rel="shortcut icon" type="image/x-icon" href="https://leafletjs.com/docs/images/favicon.ico" />
	</head>
	<body>
		<blaze-site>

			<!-- Main -->
				<main>
					<div class="container">
						<gmba-search></gmba-search>
						<noscript>
							<u>This application requires JavaScript to work.</u>
						</noscript>
						<div id="block-warning" role="alert" class="c-alert">
							If you are seeing this message after a few seconds, you may have content blocking enabled in your browser,
							preventing the <b>Find a scientist</b> application from loading. For more information, see the documentation
							on <b>content blocking</b> in your web browser, e.g.
							<a href="https://support.mozilla.org/en-US/kb/content-blocking#w_how-to-detect-when-content-blocking-is-on_2" target="_blank">Mozilla Firefox</a>.
						</div>
					</div>
				</section>


				<h5 style="display:none"><a href="#" id="logo"><em>GMBA</em> Connect</a></h5>

		</blaze-site>

		<!-- Riot tags -->
			<script src="/static/gmba-search.tag" type="riot/tag"></script>


		<!-- Scripts -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js" integrity="sha512-BrvVYNhKh6yST24E5DY/LopLO5d+8KYmIXyrpBIJ2PK+CyyJw/cLSG/BfJomWLC1IblNrmiJWGlrGueKLd/Ekw==" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.2/qs.min.js" integrity="sha512-ErYZLDi4WRoox2JhOIADWBydTRhMJ0KIXnv5C1GvuY8YooLGapnebaM3iRGhwS6/E9ONXj0MRXp6bhu73sdFkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js" integrity="sha512-SeiQaaDh73yrb56sTW/RgVdi/mMqNeM2oBwubFHagc5BkixSpP1fvqF47mKzPGWYSSy4RwbBunrJBQ4Co8fRWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js" integrity="sha512-Abr21JO2YqcJ03XGZRPuZSWKBhJpUAR6+2wH5zBeO4wAw4oksr8PRdF+BKIRsxvCdq+Mv4670rZ+dLnIyabbGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.9.5/riot+compiler.min.js" integrity="sha512-UyrER/FYe9qMJ4a0r9oKR+qfjKTXBrkjUg2HMrwZysMq9rjBhieDudPO77dX9uo2CEmVPdgh6JtBXD1AYWnXuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
			<script src="https://cdn.jsdelivr.net/npm/riotgear@3.6.0/dist/rg.min.js" integrity="sha256-LtcwoXsGDa5nJ6u98+RVFZbXDFe5YWlRxCd5uW3eWqc=" crossorigin="anonymous"></script>

			<script language="JavaScript">riot.mount('gmba-search')</script>

	</body>
</html>
